 @import "../styles/Variables.module.scss";

@font-face {
  font-family: "Sedan SC";
  src: url("../fonts/SedanSC-Regular.ttf") format("truetype");
}

// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   font-family: "Sedan SC";
//   font-weight: 10;
// }
.about {
  @include center-column;
  background: linear-gradient(#f8feff, #aad8a0, #608749, #0d1f03);
  &__content {
    @include flex-start;
    background-color: rgba(0, 0, 0, 0.8);
  }
  &__container {
    @include tablet {
      @include flex-reverse;
      padding: 1.5rem;
    }
    @include desktop {
      @include flex-reverse;
      padding: 3rem;
    }
  }
  &__title-container {
    @include center-column;
    padding: 1rem;
    @include tablet {
      font-size: 2rem;
    }
    @include desktop {
      font-size: 2.3rem;
    }
  }
  &__title, &__subtitle, &__quote-text{
  color: #9c5e00;
}
  &__image-container,
  &__text,
  &__quote,
  &__subtitle {
    padding: 1rem;
  }
  &__text {
    color: #f8feff;
    line-height: 36px;
    @include desktop {
      font-size: 1.3rem;
    }
  }
  &__subtitle {
    @include center-column;
    @include tablet {
      font-size: 2rem;
    }
    @include desktop {
      font-size: 2.3rem;
    }
  }
  &__quote {
    color: #f8feff;
  }

  &__quote-text{
    padding: 0.75rem;
  }

  &__image {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    width: 100%;
    max-width: 300px;
  }
}

@media(max-width: 768px){
  .about__top{
    flex-direction: row;
    gap: 100px;
  }

  .about__title{
    font-size: 3rem;
    text-align: center;
  }

  .about__subtitle, .about__content h2{
    font-size: 1.5rem;
  }

  .about__quote-text{
    padding: 0.75rem;
  }
} 