@font-face {
  font-family: "Sedan SC";
  src: url("../fonts/SedanSC-Regular.ttf") format("truetype");
}

.navContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: #fff;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-family: "Sedan SC";
  text-decoration: none;
}

.socialIcons{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.socialIcon{
  width: 30px;
  height: 30px;
}

.navButton{
  font-size: 1.5rem;
  text-decoration: none;
  color: gray;
}

.linkContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 1.5rem;
}

@media(min-width: 768px){
  .navContainer{
    flex-direction: row;
    gap: 75px;
    padding: 10px 50px;
  }

  .linkContainer{
    flex-direction: row;
    gap: 20px;
  }

  .navButton{
    font-size: 1.5rem;
  }

  .socialIcon{
    width: 45px;
    height: 45px;
  }

  .socialIcons{
    gap: 20px;
  }
}
