@mixin mobile {
  @media (min-width: 20rem) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 48rem) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 80rem) {
    @content;
  }
}

@mixin flex-reverse($align-items: center, $direction: row-reverse) {
  display: flex;
  align-items: $align-items;
  flex-direction: $direction;
}
@mixin flex-row($align-items: center, $direction: row) {
  display: flex;
  align-items: $align-items;
  flex-direction: $direction;
}
@mixin flex-start($align-items: flex-start, $direction: column) {
  display: flex;
  align-items: $align-items;
  flex-direction: $direction;
}

@mixin center-column($align-items: center, $direction: column) {
  display: flex;
  align-items: $align-items;
  flex-direction: $direction;
}
@mixin align-column($align-items: center, $direction: column) {
  display: flex;
  align-items: $align-items;
  flex-direction: $direction;
}
